/AbstractResourcesArtefactHandler.class
/DefaultResourceMapperClass.class
/DefaultResourcesClass.class
/ResourceMapperArtefactHandler.class
/ResourceMapperClass.class
/ResourcesArtefactHandler.class
/ResourcesClass.class
